/**
 * @file
 * Panels Styling
 */


#homepane {
    margin: 20px;
	height: 200px;
	width: 70%;
	border: 1px solid #000;
	  -webkit-border-radius: 15px;
	border-radius: 15px;
      -moz-box-shadow: 1px 1px 20px 2px rgba(68,68,68,0.3);
      -webkit-box-shadow: 1px 1px 20px 2px rgba(68,68,68,0.3);
      box-shadow: 1px 1px 20px 2px rgba(68,68,68,0.3);
	color: #555;
	padding: 1.3em 1.5em;

      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
      -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
      zoom: 1;
}

#fabmompanel {
	margin: 20px;
	border: 1px solid #000;
	width: 70%;
	-webkit-border-radius: 15px;
	border-radius: 15px;
      -moz-box-shadow: 1px 1px 20px 2px rgba(68,68,68,0.2);
      -webkit-box-shadow: 1px 1px 20px 2px rgba(68,68,68,0.2);
      box-shadow: 1px 1px 20px 2px rgba(68,68,68,0.2);
	color: #555;
	padding: 1.3em 1.5em;

      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
      -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
      zoom: 1;

}

